.Login{
  width: 100%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoginContainer{
  width: 100%;
}

.LoginContainer form{
  width: 35%;
  background: rgba(245, 245, 245, 0.362);
  padding: 10px 25px 20px 25px;
  border-radius: 10px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.03), 0 4px 20px 0 rgba(0, 0, 0, 0.03);
  margin: 100px auto;
}

.LoginContainer form h2{
  padding: 20px 0px;
  font-size: 2rem;
}

.LoginContainer form input{
  width: 100%;
  padding: 13px 10px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  background: transparent;
  font-size: 0.9rem;
  color: #000000;
  margin-bottom: 13px;
  transition: all ease-in-out 0.3s;
}

.LoginContainer form input:focus{
  border: 1px solid #4DB5E6;
  outline: none;
}

.submit{
  height: 55px;
  background: #00847C !important;
  color: white !important;
  border: none !important;
  margin-bottom: none !important;
}

.submit:hover{
  background: #4DB5E6 !important;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.LoginContainer form a{
  color: #4DB5E6;
  font-weight: 500;
  font-size: 0.8rem;
}

.LoginContainer form p{
  padding-top: 30px;
  color: #000000;
  font-size: 0.9rem;
}



@media only screen and (max-width: 600px) {

  
.LoginContainer form{
  width: 100%;
}

}