.container{
  width: 100%;
}

.hero{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(../../public/assets/execution-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 150px;
  overflow: hidden;
}

.hero h1{
  font-size: 5.5rem;
  color: rgb(248, 245, 239);
  font-family: 'rosinaultrabold';
}

.hero h1 span{
  color: rgb(0, 176, 117);
}

.wrap{
  position: relative;
}

.arrow{
  width: 50px;
  height: 50px;
  background: transparent;
  background-image: url(../../public/assets/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation-name: arrow;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: -1s;
  animation-iteration-count: infinite;
  transition: all ease-in-out .2s;
  position: absolute;
}

@keyframes arrow{
  0% {transform: scale(1); opacity: 0.1; top: 0;}
  50% {transform: scale(1.1); opacity: 1.1; top: 90px;}
  100% {transform: scale(0.5);  opacity: 0.1; top: 180px;}
}


.text{
  text-align: center;
  padding: 60px 0px 0px 0px;
}

.text h1{
  font-size: 4rem;
  padding-bottom: 15px;
  font-family: 'rosinaultrabold';
}

.text p{
  font-size: 0.8rem;
}




@media only screen and (max-width: 700px) {

.hero{
  height: 60vh;
  padding: 50px 10px 0 20px;
}
  
.hero h1{
  width: 100%;
  font-size: 1.9rem;
  line-height: 1.5;
}

.arrow{
  background-position-x: -30%;
}

.text{
  width: 80%;
  margin: 0 auto;
}

.text h1{
  font-size: 1.8rem;
}

.text p{
  font-size: 0.6rem;
}

}