.container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  gap: 20px;
}

.container a{
  font-size: 0.8rem;
  color: black;
  padding-bottom: 3px;
}

.links{
  display: flex;
  flex-direction: column;
}

.links span{
  width: 0px;
  padding: 1.5px;
  background: transparent;
  border-radius: 10px;
  transition: all ease-in-out 0.4s;
}

.links:nth-child(1):hover span{
  width: 32px;
  background: bisque;
}

.links:nth-child(2):hover span{
  width: 65px;
  background: bisque;
}

.links:nth-child(3):hover span{
  width: 60px;
  background: bisque;
}

.links:nth-child(4):hover span{
  width: 75px;
  background: bisque;
}

.links:nth-child(5):hover span{
  width: 32px;
  background: bisque;
}


@media only screen and (max-width: 700px) {

  .container{
    display: none;
  }
}