.nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 15px 30px;
}

.logo:hover{
  cursor: pointer;
}

.signup a{
  background-color: #D7FF36;
  color: black;
  padding: 13px 25px;
  border-radius: 40px;
  font-weight: 400;
}

.profile svg{
  display: none;
}

.image{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05);
  object-fit: cover;
  overflow: hidden;
}

.menu{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px 20px;
  font-size: 1rem;
  border-radius: 7px;
  transition: all ease-in-out 1.3s;
  position: absolute;
  top: 45px;
  right: 45px;
  z-index: 1000;
}

.menu a:hover{
  color: rgb(0, 120, 80);
  transition: all ease-in-out .1s;
  cursor: pointer;
}
  
.menu a:nth-child(2), .menu a:nth-child(3), .menu a:nth-child(4), .menu a:nth-child(5){
  display: none;
}




@media only screen and (max-width: 700px) {
.nav{
  padding: 15px 10px;
}

.profile{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 30px;
}

.profile svg{
  display: block;
}

.menu{
  display: flex;
  font-size: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.menu a:nth-child(2), .menu a:nth-child(3), .menu a:nth-child(4), .menu a:nth-child(5){
  display: block;
}

.nav nav, .nav2 nav{
  padding: 0px 15px 0px 20px;
}

}