.container{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: black;
  color: whitesmoke;
  padding: 20px 20px;
}

.logo{
  width: 100%;
  margin-bottom: 150px;
}

.menu{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.menu2{
  display: none;
}

.menu div{
  width: 100%;
  display: flex;
  gap: 10px;
}

.menu  span{
  font-size: 0.75rem;
  transition: all ease-in-out .2s;
  cursor: pointer;
}

.menu  span:hover{
  color: #00e99b !important;
  transition: all ease-in-out .2s;
}



@media only screen and (max-width: 640px) {

.container{
  background: white;
  min-height: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  display: none;
}

.menu{
  display: none;
}

.menu2{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.8);
}


}