.container{
  width: 100%;
  position: relative;
}

.hero{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(../../public/assets/it-hall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 150px;
  overflow: hidden;
}

.hero h1{
  font-size: 4rem;
  color: rgb(248, 245, 239);
  font-family: 'rosinaultrabold';
}

.hero h1 span{
  font-family: none !important;
}

.wrap{
  position: relative;
}

.arrow{
  width: 50px;
  height: 50px;
  background: transparent;
  background-image: url(../../public/assets/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation-name: arrow;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: -1s;
  animation-iteration-count: infinite;
  transition: all ease-in-out .2s;
  position: absolute;
}

@keyframes arrow{
  0% {transform: scale(1); opacity: 0.1; top: 0;}
  50% {transform: scale(1.1); opacity: 1.1; top: 90px;}
  100% {transform: scale(0.5);  opacity: 0.1; top: 180px;}
}

.section{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 100px;
}

.section2{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 100px;
}

.text{
  width: 38%;
}

.text h1{
  font-size: 2.7rem;
  padding-bottom: 15px;
  font-family: 'rosinaultrabold';
}

.text p{
  font-size: .7rem;
}

.text p span{
  display: block;
  padding: 15px 0;
}


.image{
  width: 40%;
}

.image video{
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}


@media only screen and (max-width: 920px) {
  
.hero h1{
  font-size: 2.5rem;
}


.section{
flex-direction: column;
}

.section2{
flex-direction: column-reverse;
}

.text{
width: 80%;
padding-bottom: 20px;
}


.image{
  width: 80%;
}

}


@media only screen and (max-width: 700px) {
  
.hero{
  height: 60vh;
  padding: 10px;
}
  
.hero h1{
  font-size: 1.5rem;
}

.arrow{
  background-position-x: -30%;
}

.section, .section2{
  padding: 40px 20px;
}

.text{
width: 100%;
}

.image{
  width: 100%;
}

}